<h1>Users listing page</h1>

<%= will_paginate @users %>

<% @users.each do |user| %>
    <p><%= user.username %></p>
    <p><%= link_to 'View profile', user %></p>
    <% if logged_in? && user == current_user %>
        <p><%= link_to 'Edit', edit_user_path(user) %></p>
    <% end %>
<% end %>